@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Regular.ttf);
}

:root {
    /* ### Primary */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);

    /* ### Neutral */
    --very_dark_blue: hsl(234, 12%, 34%);
    --grayish_blue: hsl(229, 6%, 66%);
    --very_light_gray: hsl(0, 0%, 98%);
}


* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Poppins;
    font-size: 15px;
    background-color: var(--very_light_gray);
}

.wrapper {
    width: 100vw;
    width: 100svw;
    height: 100vh;
    height: 100svh;
    display: grid;
    flex-direction: column;
    justify-items: center;
}

main {
    width: 20em;
    margin: 1em 0;
}

.main-text {
    text-align: center;
    padding: 2em 0;
}

.main-text h2 {
    font-weight: 400;
    font-size: 1.4em;
    opacity: .6;
}

.main-text h1 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.main-text p {
    font-weight: 400;   
    opacity: .5;
}

.class-card {
    position: relative;
    width: 18em;
    height: 10em;
    background-color: white;
    padding: 1em;
    margin: 1em 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.class-card p:first-of-type {
    font-weight: 700;
}

.class-card p:last-of-type {
    font-weight: 400;
    font-size: .9em;
    margin: .5em 0;
}

.class-card picture {
    position: absolute;
    right: 1em;
    bottom: 1em;

}

.class-card img {
    width: 3em;
}

#supervisor {
    border-top: .25em solid var(--cyan);
}

#team-builder {
    border-top: .25em solid var(--red);
}

#karma {
    border-top: .25em solid var(--orange);
}

#calculator {
    border-top: .25em solid var(--blue);
}


@media (min-width: 1000px) {
    main {
        width: auto;
    }

    .main-text p{
        width: 30em;
        margin: 0 auto;
    }

    .cards-wrapper {
        display: flex;        
        align-items: center;
    }

    .cards-sub-wrapper {
        margin: 0 1em;
    }
    
}